# Data Manipulation
pandas
numpy

# Notebook Environment
jupyterlab

# Visualization
matplotlib
seaborn

# PostgreSQL Database
psycopg2-binary

# Machine Learning and Preprocessing
scikit-learn

# Synthetic Data Generation
sdv
ctgan